# Python cache
__pycache__/
*.py[cod]

# Virtual environments
mappo_venv/
venv/
.venv/


# Ignore all experiments
experiments/*

# Keep the best trained model
!experiments/simple_spread_v3/
!experiments/simple_spread_v3/reference_lr0.0001_clip0.15_ent0.01_ep10_mb16_train30000_seed42_20260729_2341/
!experiments/simple_spread_v3/reference_lr0.0001_clip0.15_ent0.01_ep10_mb16_train30000_seed42_20260729_2341/**


# Ignore TensorBoard logs inside the reference experiment
experiments/simple_spread_v3/reference_lr0.0001_clip0.15_ent0.01_ep10_mb16_train30000_seed42_20260729_2341/tensorboard/

# TensorBoard
runs/

# macOS
.DS_Store

# VS Code
.vscode/